
body{
    font-family: 'Poppins', sans-serif;
    margin: 0;
}
p{
    color: dimgray;
    font-size: 14px;
}
#fazlu-heading{
    font-size: 50px;
    color: tomato;
    font-weight: 700;
}

h2{
    font-size: 40px;
    margin: 0;
}

/* Header Area CSS Starts Here */

.header-area{
    background-image: url("images/header-bg.png");
    background-repeat: no-repeat;
    height: 700px;
    background-size: cover;
    position: relative;
}

.half-width{
    width: 40%;
    float: left;
    padding-top: 100px;
}

.link-button{
    text-decoration: none;
    background-image: linear-gradient(45deg, lightSalmon, tomato);
    padding: 10px 30px;
    border-radius: 10px;
    color: white;
    font-weight: 700;   
}

a{
    margin-top: 20px;
}

.half-width img{
    width: 100%;
}

#hello-area{
    margin: 100px 0 0 150px;
}
/* Header Area CSS Ends Here */
.biography-area{
    background-image: url("images/biography-bg.png");
    background-repeat: no-repeat;
    height: 900px;
}
.biography-area div img{
    margin-left: 100px;
}

#bio-area{
    margin: 100px 0 0 150px;
}

.latest-work{
    background-image: url("images/latest-work-bg.png");
    height: 500px;
    width: 100%;
    background-repeat: no-repeat;
    background-position: top left;
    background-size: cover;
}

.work-heading{
    text-align: center;
    padding: 50px;
}


.latest-work img{
    margin-left:2%;
    float: left;
    width:400px;
}


.client-review{
    background-image: url("images/footer-bg.png");
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
}

.comment{
    text-align: center;
}

.comment h2{
    text-align: center;
    padding: 50px;
}

h3{
    margin-bottom: 2px;
}

.comment blockquote{
    font-size: 20px;
    padding: 30px;
    margin: 10px;
    margin-bottom: 40px;  
}

.mail-box{
    margin: 0 auto;
    width:800px;
    height: 150px;
    background: #db4568;
    text-align: center;
    padding: 15px;
    color: white; 
    border-radius: 10px;
}
.email{
    padding: 40px;
}
.email p{
    color: white;
    font-size: 17px;
    margin: 0;
}

footer{
    margin-top: 150px;
    text-align: center;
    margin-bottom: 20px;
}
